.input-container {
  display: flex;
  flex-direction: column;
}

.input-label {
  font-weight: 600;
}

.input-description {
  font-size: small;
  color: #b5b6ce;
}

.error-input {
  border: 1px solid red;
}

.error-description {
  color: red;
  font-size: small;
  margin-bottom: 5px;
}

.error-placeholder::placeholder {
  color: red;
}